{% extends 'layout.html' %}
{% block title %}
  Flack
{% endblock %}

{% block body %}
  <div class="container-fluid" id='channel-content'>
    <div class="list-group">

      <h4>Choose a channel</h4>


    </div>
    <br><br><br><br><br>
    <div class="text-bar ">
      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter your message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
