<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Script -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <h5 class="navbar-brand">
        FLACK
      </h5>
    </nav>
    <!-- container -->
    <div class="container-fluid">

      <!-- __________________Display Name BLOCK_________________ -->
        <div class="container displayname-div">
          <div class="displayform rounded">
            <form class="name-form" action="" method="post">
              <div class="form-group">
                <label for="displayName">Enter Your Display Name</label>
              </div>
              <div class="form-group">
                  <input class="form-control" id="displayName" type="text" name="displayname" placeholder="Set a display name">
                  <small id="emailHelp" class="form-text text-danger">Enter proper name</small>
              </div>
              <div class="form-group">
                  <button class="btn" type="submit" name="button">OK</button>
              </div>

            </form>
          </div>
        </div>
    <!-- END Display name -->

<!-- ______________display Content ______________- -->
      <div class="row displaycontent-div">
        <aside class="col-2 left">
          <h4 class="hi_name"></h4>
          <button class="btn mb-5 create_channel" type="button" name="create_channel">&#43; Create</button>
          <ul>
            {% if channels %}
              {% for channel in channels.keys() %}
                <li>- <a href="#">{{ channel }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </aside>

        <div class="col-10 content">
          <!-- __________________create_channel_div_________________ -->
            <div class="container create_channel_div">
                <form class="channel-form" action="" method="post">
                  <div class="form-group">
                    <label for="displayName">Create new channel</label>
                  </div>
                  <div class="form-group">
                      <input class="form-control" id="channel_name" type="text" name="channel_name" placeholder="Set a name">
                      <small id="emailHelp" class="form-text text-danger">this channel is already exist</small>
                  </div>
                  <div class="form-group">
                      <button class="btn" type="submit" name="button">OK</button>
                  </div>

                </form>
            </div>
        <!-- END create_channel_div -->

        <div class="channel_content">
          {% block body %}

          {% endblock %}
        </div>
        </div>
      </div>
      <!-- Display Content End -->
    </div>
  </body>
</html>
