<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    <title>{% block title %}{% endblock %}</title>

    <!-- Script -->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        if(!localStorage.getItem('user_name')){
          document.querySelector('.displayname-div').style.display = "flex";
          document.querySelector('.displaycontent-div').style.display = "none";
        }else{
          document.querySelector('.displayname-div').style.display = "none";
          document.querySelector('.displaycontent-div').style.display = "flex";
          document.querySelector('.create_channel_div').style.display = "none";
        }
        form = document.querySelector(".name-form");
        form.onsubmit = () => {
          name = document.querySelector('#displayName').value;
          if(!name.replace(/\s/g, '').length){
            document.querySelector('.form-group small').style.display = "flex";
            return false;
          }
          localStorage.setItem('user_name', name);
        };

        document.querySelector(".hi_name").innerHTML = "HI, " + localStorage.getItem('user_name');

        // create channel
        document.querySelector('.create_channel').onclick = () => {
          document.querySelector('.channel_content').style.display = "none";
          document.querySelector('.create_channel_div').style.display = "flex";
        }
        //submit new channel
        document.querySelector('.create_channel').onsubmit = () => {
          
        }
      });
    </script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <h5 class="navbar-brand">
        FLACK
      </h5>
    </nav>
    <!-- container -->
    <div class="container-fluid">

      <!-- __________________Display Name BLOCK_________________ -->
        <div class="container displayname-div">
          <div class="displayform rounded">
            <form class="name-form" action="" method="post">
              <div class="form-group">
                <label for="displayName">Enter Your Display Name</label>
              </div>
              <div class="form-group">
                  <input class="form-control" id="displayName" type="text" name="displayname" placeholder="Set a display name">
                  <small id="emailHelp" class="form-text text-danger">Enter proper name</small>
              </div>
              <div class="form-group">
                  <button class="btn" type="submit" name="button">OK</button>
              </div>

            </form>
          </div>
        </div>
    <!-- END Display name -->

<!-- ______________display Content ______________- -->
      <div class="row displaycontent-div">
        <aside class="col-2 left">
          <h4 class="hi_name"></h4>
          <button class="btn create_channel" type="button" name="create_channel">&#43; Creat channel</button>
          <ul>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>
            <li>
              TEST
            </li>
            <li>
              TEST
            </li><li>
              TEST
            </li>

          </ul>
        </aside>

        <div class="col-10 content">
          <!-- __________________create_channel_div_________________ -->
            <div class="container create_channel_div">
                <form class="channel-form" action="" method="post">
                  <div class="form-group">
                    <label for="displayName">Create new channel</label>
                  </div>
                  <div class="form-group">
                      <input class="form-control" id="" type="text" name="channel_name" placeholder="Set a name">
                      <small id="emailHelp" class="form-text text-danger">this channel is already exist</small>
                  </div>
                  <div class="form-group">
                      <button class="btn" type="submit" name="button">OK</button>
                  </div>

                </form>
            </div>
        <!-- END create_channel_div -->

        <div class="channel_content">
          {% block body %}

          {% endblock %}
        </div>
        </div>
      </div>
      <!-- Display Content End -->
    </div>
  </body>
</html>
